@charset "utf8";

@media screen and (min-width: 768px){ /*Se a tela ultrapassar 768px*/
    #burger{
        display: none;
    }
    menu{
        display: flex;
        flex-direction: column;
    }
    menu ul{
        display: flex;
        flex-direction: column;
    }
    menu > ul > li{
        display: inline-block;
    }
    menu > ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-end;
        align-content: space-between;
    }
    menu > ul > li > a{
        font-size: 20px;
        margin-right: 10px;
    }

    div#form > iframe{
        margin-top: 0px;
        height: 102%;
    }
}